<?xml version="1.0" encoding="UTF-8"?>

<plugin title="twelve-days-visualizations">

  <!-- Twelve Days of Big Data Visualizations -->

  <static-paths>
    <static-path url="/twelve-days-visualizations/resources" localFolder="resources"/>
  </static-paths>

  <external-resources>
    <file context="requirejs">content/twelve-days-visualizations/resources/web/require-js-cfg.js</file>
    <file context="analyzer">content/twelve-days-visualizations/resources/web/analyzer_plugin_loader.js</file>
  </external-resources>

</plugin>
